# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
build
.turbo

# Cache
.cache
*.log

# IDE
.DS_Store
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.local
.env*.local

# Testing
coverage

# Misc
*.zip
dump.rdb
